<p>
  <mat-toolbar>
    <span>Contatos</span>
  </mat-toolbar>
</p>
<form [formGroup]="formulario" (ngSubmit)="submit()">

  <mat-form-field class="campo-full"  appearance="fill">
    <mat-label>Nome: </mat-label>
    <input formControlName="nome" matInput placeholder="Digite seu nome" >
  </mat-form-field>

  <mat-form-field class="campo-full"  appearance="fill">
    <mat-label>Email: </mat-label>
    <input formControlName="email" matInput placeholder="Digite seu Email" >
  </mat-form-field>

  <div class="example-button-row">
    <button [disabled]="!formulario.valid" mat-button color="primary">Adicionar</button>
  </div>

</form>

