<p>
  <mat-toolbar>
    <span>Contatos</span>
  </mat-toolbar>
</p>
<form >

  <mat-form-field class="campo-full"  appearance="fill">
    <mat-label>Nome: </mat-label>
    <input matInput placeholder="Digite seu nome" >
  </mat-form-field>

  <mat-form-field class="campo-full"  appearance="fill">
    <mat-label>Email: </mat-label>
    <input matInput placeholder="Digite seu Email" >
  </mat-form-field>

  <div class="example-button-row">
    <button mat-button color="primary">Adicionar</button>
  </div>


</form>
